/* *********************************************************************
[PROJECT] by Liquid Source
http://www.liquid-source.com

File: ie6.css
File description: Fixes ie6 specific anomolies and bugs
Author: Nick Wilkins

Credit: .group based on Dan @ simplebits.com
********************************************************************* */


/* Float fix */
*:first-child+html .group { min-height: 1px; }
* html .group { height: 1%; }

img { width: 100%; }