/* *********************************************************************
[PROJECT] by Liquid Source
http://www.liquid-source.com

File: core.css
File description: Less file that sets out base styles used throughout the site
Author: Nick Wilkins
********************************************************************* */

/* Core Font Styling */
@textColor : #333;
@fontFamily: 'Open Sans', sans-serif, arial, verdana;
@headerColor : #0093cb;
@h1headerSize : 2em;

/* Links */
@linkColor : #0093cb;
@linkHoverColor : @linkColor - #666;

/* Forms */
@buttonColor : #0093cb;
@buttonFromColor: #4C8FFD;
@buttonToColor: #4787ED;

@buttonHoverColor : #3F83F1;
@buttonHoverFromColor: #ffffE;
@buttonHoverToColor: #fff;

