@font-face {
  font-family:'fontName';
  src:url('../../fonts/fontName.eot');
  src:url('../../fonts/fontName.eot?iefix') format('eot'), url('../../fonts/fontName.woff') format('woff'), url('../../fonts/fontName.ttf') format('truetype'), url('../../fonts/fontName.svg#') format('svg');
  font-weight:normal;
  font-style:normal;
}
html {
  font-family:'Open Sans', sans-serif, arial, verdana;
  color:#333333;
  line-height:1.5;
}
p {
  margin:1em 0px;
  line-height:1.5;
}
A, A:Visited {
  color:#0093cb;
  text-decoration:none;
  outline:none;
  cursor:pointer !important;
}
A:Hover {
  color:#002d65;
  text-decoration:underline;
  outline:none;
}
h1, h2, h3, h4, h5, h6 {
  color:#0093cb;
  margin:5px 0px;
}
h1 { font-size:2em; }
h2 { font-size:1.8em; }
h3 { font-size:1.6em; }
h4 { font-size:1.4em; }
h5 { font-size:1.2em; }
h6 { font-size:1em; }
body { font-size:80%; }
header { background:#eeeeee; }
#main {
  background:#ffffff;
  padding:10px 10px;
}
footer {
  background:#999999;
  border-top:2px solid #888888;
  border-bottom:2px solid #333333;
}
#top_header {
  height:70px;
  padding:5px 0px 0px 10px;
  width:100%;
  background:#222222;
}
footer { padding:0px 10px; }
footer ul li {
  float:left;
  margin:10px 0px;
  font-size:0.8em;
  border-left:1px solid #bbbbbb;
  padding:0px 5px;
}
footer ul li:first-child {
  border-left:none;
  padding-left:0px;
}
footer .f_right ul li {
  float:left;
  margin:10px 0px;
  font-size:0.8em;
  border:none;
}
footer a { color:#333333 !important; }
footer a:Hover { text-decoration:underline; }
.wrap {
  margin:0 auto;
  max-width:1580px;
}
.noinfo {
  color:#666666;
  margin-left:50px;
  font-size:0.9em;
}
#nav li {
  z-index:99;
  font-weight:bold;
  float:left;
  position:relative;
}
#nav li a {
  padding:10px 20px;
  display:block;
}
#nav li a:Hover {
  background:#dddddd;
  color:#333333;
}
h4.alert {
  display:block;
  width:100%;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  background-position:10px 10px;
  border:1px solid #77bace;
  color:#082b33;
  padding:10px 0;
  text-indent:40px;
  font-size:1em;
  background-repeat:no-repeat !important;
  background-position:10px 50% !important;
}
h4.alert_info { background:#b5e5ef url(../../images/example_icons/icn_alert_info.png); }
h4.alert_warning { background:#f5f3ba url(../../images/example_icons/icn_alert_warning.png); }
h4.alert_error { background:#f3d9d9 url(../../images/example_icons/icn_alert_error.png); }
h4.alert_success { background:#e2f6c5 url(../../images/example_icons/icn_alert_success.png); }
@media only screen and (min-width: 1300px) and (max-width: 1600px) {
}
@media only screen and (min-width: 1020px) and (max-width: 1300px) {
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
  header { background:transparent; }
  #nav li {
    z-index:99;
    font-weight:bold;
    position:relative;
    float:none;
  }
  #nav li a {
    padding:5px 10px;
    display:block;
    text-align:center;
    background-color:#eeeeee;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top:3px;
  }
  #nav li a:Hover {
    background:#dddddd;
    color:#333333;
  }
  #nav li:last-child { margin-left:0px !important; }
}
